.navbar a{
    color:lightslategray;
    padding-right:50px;
}
.navbar a:hover{
    color:#00171F;
}
.container1{
    margin-top: 50px;
    background-image: url(../images/30dowd.jpg);
    height: 400px;
    background-position: center;
    background-size: cover;
    background-color:lightslategray;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
}
.container2{
    padding: 50px 50px;
}
.container2 h1{
    margin: 20px 0;
    padding-bottom: 20px;
}
.container2 p{
    padding: 20px 0;
    font-size: larger;
}



footer{
    background-color: #00171F;
    color: white;
    padding-top:50px;
    padding-bottom: 50px;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: white;
    padding-right:20px;
    font-size: 75%;
}
#links{
    padding-right: 0;
}
footer a:hover{
    color: lightslategray;
}
